{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - LunaRP{% endblock %}

{% block body %}
<div class="main-container">
	<div class="home-main">
		<p class="title">MES PERSONNAGES</p>
        {% if all_characters|length > 0 %}
            <ul>
                {% for character in all_characters %}
                <a href="{{ path('app_character', { 'id': character.id }) }}">
                <li>
                    <img src="{{ asset('/images/default.jpg') }}"/>
                    <div>
                        <p class="name">{{ character.name }}</p>
                        <p class="infos">
                            {% if character.race is not null and character.classe is not null %}
                                {{ character.race.name }}, {{ character.classe.name }}
                            {% elseif character.classe is not null %}
                                {{ character.classe.name }}
                            {% elseif character.race is not null %}
                                {{ character.race.name }}
                            {% endif %}
                        </p>
                    </div>
                </li>
                </a>
                {% endfor %}
            </ul>
        {% else %}
            <ul>
                <div class="flex justify-center items-center h-full no-found-info">
                    <div class="no-found text-lg px-6 py-5" role="alert">
                        Aucun personnages trouvés
                    </div>
                </div>
            </ul>
        {% endif %}
		<button class="add">+</button>
	</div>
	<div class="home-main">
		<p class="title">MES CAMPAGNES</p>
		<ul>
		 {# Mettre toutes les campagnes #}
		</ul>
		<button class="add">+</button>
	</div>
</div>
{% endblock %}
