{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - LunaRP{% endblock %}

{% block body %}
<div class="main-container">
	<div class="home-main">
		<p class="title">MES PERSONNAGES</p>
		<ul>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			<li>
				<img src="{{asset('/images/default.jpg')}}"/>
				<div>
					<p class="name">Jhon Doe</p>
					<p class="infos">Classe, Race...</p>
				</div>
			</li>
			{# <li>test</li>
			<li>haha</li>
			<li>hihi</li> #}
		 {# Mettre tous les personnages #}
		</ul>
		<button class="add">+</button>
	</div>
	<div class="home-main">
		<p class="title">MES CAMPAGNES</p>
		<ul>
		 {# Mettre toutes les campagnes #}
		</ul>
		<button class="add">+</button>
	</div>
</div>
{% endblock %}
