{% extends 'base.html.twig' %}

{% block title %}LunaRP{% endblock %}

{% block body %}
<form action="{{ path( 'app_character_editCharacter' )}}" method="post" id="editCharacter" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{ one_character.id }}"/>
    <div class="home-container">
        <div class="charac-container">
            <div class="charac-infos">
                <input type="text" name="name" placeholder="{{ one_character.name }}" value="{{ one_character.name }}">
                <select id="race" name="race">
                    <option value="" disabled selected>Recherche...</option>
                    {% for race in all_races %}
                        <option value="{{ race.id }}" {% if race.id == one_character.race.id %} selected {% endif %}>{{ race.name }}</option>
                    {% endfor %}
                </select>
                <select id="classe" name="classe">
                    <option value="" disabled selected>Recherche...</option>
                    {% for classe in all_classes %}
                        <option value="{{ classe.id }}" {% if classe.id == one_character.classe.id %} selected {% endif %}>{{ classe.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" name="alignment" placeholder="Alignement" value="{{ one_character.alignment }}">
                <textarea id="description" name="description" rows="6" cols="50" placeholder="Description">{{ one_character.description }}</textarea>
                <div class="character-pp">
                    <label for="avatar"><i class="fa-solid fa-file-image"></i></label>
                    <div id="img-holder" class="img-holder"></div>
                    <img src="{{ one_character.img ?? asset('images/default.jpg') }}" alt="Photo de profil" class="large-profile-pic" />
                    <input class="profile-input" type="file" accept="image/*" id="avatar" name="avatar" onchange="imgUpload(event)" style="display:none;"/>
                </div>
            </div>
            <div class="charac-stats">
                <input type="text" name="niveau" placeholder="Niveau" value="{{ one_character.level }}">
                <input type="text" name="experience" placeholder="Point d'expériences" value="{{ one_character.experience }}">
                <div class="ability">
                    <input type="text" value="{{ one_character.strength }}" name="force" class="left" placeholder="Force">
                    <input type="text" value="{{ one_character.dexterity }}" name="dexterite" class="left" placeholder="Dextérité">
                    <input type="text" value="{{ one_character.constitution }}" name="constitution"  placeholder="Constitution">
                    <input type="text" value="{{ one_character.intelligence }}" name="intelligence" class="left" placeholder="Intelligence">
                    <input type="text" value="{{ one_character.wisdom }}" name="sagesse" class="left" placeholder="Sagesse">
                    <input type="text" value="{{ one_character.charisma }}" name="charisme" placeholder="Charisme">
                </div>
            </div>
        </div>
        <div class="charac-container-r">
            <div class="character-inventory">
                <p class="character-title">Inventaire</p>
                <select id="item" name="item">
                    <option value="" disabled selected>Recherche...</option>
                    {% for item in all_items %}
                        <option value="{{ item.id }}|{{item.img}}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                <div class="character-inventory-items" id="inventory-items">
                    {% if one_character is not null %}
                        {% for item_character in one_character.inventory %}
                            <div class="character-inventory-item">
                            {% if item_character.item.img is not null %}
                                <img src="{{item_character.item.img}}"/>
                            {% else %}
                                <img src="{{asset('/images/default.jpg')}}"/>
                            {% endif %}
                            {% if item_character.quantity > 1 %}
                                <p class="character-quantity">x{{ item_character.quantity }}</p>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="character-spells">
                <p class="character-title">Sorts</p>
                <select id="spell" name="spell">
                    <option value="" disabled selected>Recherche...</option>
                    {% for spell in all_spells %}
                        <option value="{{ spell.id }}|{{spell.name}}|{{spell.level}}">{{ spell.name }}</option>
                    {% endfor %}
                </select>
                <div class="character-spells-list" id="spells-items">
                    {% if one_character is not null %}
                        {% for spell in one_character.spells %}
                            <div class="character-spell">
                                <p class="character-spell-name">{{ spell.name }}</p>
                                <p class="character-spell-level">Niveau {{ spell.level }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="all-buttons">
        <input type="submit" class="character-button" value="Valider"></input>
    </div>
</form>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/createSpell.js') }}"></script>
    <script src="{{ asset('js/updateProfile.js') }}"></script>
{% endblock %}