<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('admin') }}
        {% endblock %}
    </head>
    <body>
		<div class="container">
            <a href="/"><button class="back">Back</button></a>
			<div class="left-side">
                {# <div class="logo">
                    <img src="{{ asset('build/admin/images/logo.png') }}" alt="logo">
                    pas de css pour le moment
                </div> #}
                <ul>
                    <li class="active"><a href="{{path('app_admin_dashboard')}}">Dashboard</a></li>
                    <li class=""><a href="{{path('app_admin_user')}}">Users</a></li>
                    <li><a href="{{path('app_admin_character')}}">Character</a></li>
                    <li><a href="{{path('app_admin_item')}}">Item</a></li>
                    <li><a href="{{path('app_admin_language')}}">Languages</a></li>
                    <li><a href="{{path('app_admin_race')}}">Races</a></li>
                    <li><a href="{{path('app_admin_spell')}}">Spells</a></li>
                    <li><a href="{{path('app_admin_classe')}}">Classes</a></li>
                </ul>
            </div>
            <div class="right-side">
                {% block content %}{% endblock %}
            </div>
		</div>
    </body>
</html>
