<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
			<nav>
				
				<div class="luna">
					<a href="{{ path('app_home') }}">LunaRP</a>
				</div>
				
				<div class="links">
					<a href="#">coucou</a>
					<a href="#">hehe</a>
					<a href="#">yaya</a>
				</div>
				
				<div class="user">
					{% if app.session.get('user') %}
						{% set user = app.session.get('user') %}
						<div class="connected">
							<a id="user_pp" href="#"><img class="rounded-full w-[5vw]" src="{{ asset('images/maPP.gif') }}" /></a>
							<div class="logout">
								<a href="{{ path('app_logout') }}"><img class="rounded-full w-[5vw]" src="{{ asset('images/logout.jpg') }}" /></a>
							</div>
						</div>
					{% else %}
						<a href="{{ path('app_login') }}"><img class="rounded-full w-[5vw]" src="{{ asset('images/default.jpg') }}" /></a>
					{% endif %}
				</div>

			</nav>
        {% block body %}{% endblock %}
		  	{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
